body {
    background: rgb(0, 0, 0);
    color: white;
    font: normal 11pt Arial;
}

.titulo {
    color: rgb(255, 255, 255);
    font: normal 17pt Arial;
    position: relative;
    left: 300px;
    top: 200px;
}

.area {
    background: black;
    position: absolute;
    top: 50px;
    left: 0px;
    width: 2000px;
    height: 1000px;
}

.botoes {
    background:rgb(0, 0, 0);
    position: absolute;
    top: 0px;
    left: 300px;
    width: 200px;
}

.valores {
    background:rgb(0, 0, 0);
    position: absolute;
    top: 0px;
    left: 600px;
    width: 400px;
}

.botaoStart {
    width: 110px;
    height: 20px;
}
.botaoStop {
    width: 110px;
    height: 20px;
}
.botaoEdit {
    width: 20px;
}
.botaoDelete {
    width: 20px;
}

.vix {
    width: 50px;
}
.viy {
    width: 50px;
}
.massa {
    width: 70px;
}
.densidade {
    width: 43px;
}