body {
    background: rgb(0, 0, 0);
    color: white;
    font: normal 11pt Arial;
}

.titulo {
    color: rgb(255, 255, 255);
    position: absolute;
    top: 32px;
    left: 10px;
}

.area {
    background: black;
    position: absolute;
    top: 50px;
    left: 0px;
    width: 2000px;
    height: 1000px;
}

.botaoStart {
    width: 110px;
    height: 20px;
}
.botaoStop {
    width: 110px;
    height: 20px;
}
.vix {
    width: 50px;
}
.viy {
    width: 50px;
}
.massa {
    width: 70px;
}
.densidade {
    width: 50px;
}